.body{
    margin: 32px 0;
    justify-content: space-between;
    width: 100%;
    align-items: center;

}

.narrow-body{
    width: 85%;
    margin: auto;
}

.content{
    display: flex;
    flex-direction: row;
    gap: 24px;
    margin-top: 3rem;
}

.about-section img{
    width: 30%;
    height: auto;
    border-radius: 16px;
}

.about-section{
    margin-top: 100px;
}

.name{
    font-family: primary;
    font-size: 64px;
    color: white;
}

.Andrew, .Karin{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    margin-top: 3rem;
    align-items: stretch; /* Makes all items in the row the same height */
}

.Andrew img, .Karin img{
    height: 400px;
    object-fit: cover;
}

.about-section>h1{
    text-align: left;
}

.about-section p{
    color: #666666;
}

.about-section h2{
    color: var(--primary-70);
}

.boxed{
    background-color: var(--primary-color);
    color: white;
    border-radius: 16px;
    padding: 32px 24px;
    display: flex;
    gap: 24px;
    max-height: 446px;
    width: auto;
    box-sizing: border-box; /* Includes padding in height calculation */
}

.v{
    flex-direction: column;
    justify-content: top; /* starts content @ top */
    gap: 0;
}

.boxed p, .boxed h2{
    color: white;
    padding: 0;
}

.boxed img{
    margin: -32px 0 -32px -24px; /* Negate the parent's padding */
}

@media (max-width: 768px) {
    .Karin, .Andrew {
        flex-direction: column; /* Stack elements vertically on smaller screens */
    }

    .Andrew img, .Karin img {
        width: 100%;
        height: auto; /* Let images scale with the container on small screens */
    }

    .boxed {
        padding: 5%; /* Adjust padding for smaller screens */
        margin-top: 1rem; /* Add some margin for spacing when stacked */
    }
}